In [49]:
import os
import arcpy
import arcgis
import pandas as pd
import numpy as np
import csv
from arcgis.features import GeoAccessor, GeoSeriesAccessor

arcpy.env.overwriteOutput = True

In [50]:
ruta_cuenca = r"C:\PUBLIC\PGAR\Resultados\4.PRO\PGAR\PGAR_Inventario.gdb\cuenca"
ruta_mpio = r"C:\PUBLIC\PGAR\Resultados\4.PRO\PGAR\PGAR_Inventario.gdb\municipio"
ruta_depto = r"C:\PUBLIC\PGAR\Resultados\4.PRO\PGAR\PGAR_Inventario.gdb\tbl_departamento"

In [51]:

df_ruta_depto = pd.DataFrame.spatial.from_table(ruta_depto)
df_ruta_depto

   OBJECTID codigo_departamento nombre_departamento
0         1                  11         Bogota d.c.
1         2                  15              Boyacá
2         3                  25        Cundinamarca